#con2 {
    margin-top: 20px;
    background: #fefefe;
    padding: 20px;
    border-radius: 10px;
        
        
        
    
}
#con1 {
    margin-top: 20px;
    background: #fefefe;
    padding: 20px;
    border-radius: 10px;
        
        
        
    
}